@import url('https://fonts.bunny.net/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
  font-family: Merriweather, serif;

  /* --black: #1a1a1a; */
  --black: #020202;
  --primary: #c97ef8;
  /*--secondary: #9400ff;*/
  --secondary: #9936e0;
  --background: #fffdf1;
}

body {
  background-color: #fffdf1;
  color: var(--black);
  opacity: 1;

  /* dotted background */
  /* colours to consider for the dots:
        * red: #dd2e44
        * lila: #c97ef8 (darker: #9400ff) dots     background */
  background-image: radial-gradient(var(--primary) 1px, #fffdf1 1px);
  background-size: 20px 20px;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Lora, serif;
}

p,
ul {
  font-size: 0.9rem;

  line-height: 160%;
}

a {
  text-decoration-line: none;
}

a:link {
  color: var(--secondary);
}

a:hover {
  color: var(--secondary);
}

.container {
  grid-template-areas:
    /*'header header header'*/
    'left main nav'
    'footer footer footer';
  display: grid;
  gap: 1rem;
  justify-content: center;
  align-content: center;
  margin: 1rem;
}

nav {
  font-family: Inter, Noto Sans, 'Helvetica Neue', Roboto, system-ui, -apple-system,
    BlinkMacSystemFont, 'Open Sans', sans-serif;
  grid-area: nav;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main {
  grid-area: main;
  /*margin: 2rem auto;*/
  /*width: 100%;*/
  width: 40rem;
  padding: 2em;
  background: #ffffff;
  border-width: 0.1rem;
  border-style: solid;
  border-radius: 1em;
  border-color: rgba(88, 57, 168);
  box-shadow: rgba(88, 57, 168, 40%) 0.7rem 0.7rem;
}

/* on mobile */
@media (max-width: 49rem) {
  .container {
    grid-template-areas:
      'nav'
      'main'
      'footer';
    margin: 0.6rem 0;
  }

  nav {
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
  }

  main {
    padding: 2em 0.7em;
    width: auto;
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 0;
    box-shadow: rgba(88, 57, 168, 40%) 0rem 0.7rem;
  }
}
