<script>
  import Footer from '$lib/Footer.svelte';
  import Kickflip from '$lib/Kickflip.svelte';
  import '$lib/styles/prism-pojoaque.css'; // syntax highlighting for codeblocks
  import '../app.css';
</script>

<svelte:head>
  <title>Antoni Romański</title>
  <meta
    name="description"
    content="Antoni Romanski - Personal Website about my thoughts and projects"
  />
  <link
    rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>&#128761;</text></svg>"
  />
</svelte:head>

<div class="container">
  <nav>
    <Kickflip />
    <!-- &#128761; -->
    <a href="/">Home</a>
    <a href="/projects">Projects</a>
    <!-- <a href="/blog">Blog</a> -->
    <!-- <a href="/about">About</a> -->
  </nav>

  <main id="content">
    <slot />
  </main>

  <Footer />
  <script
    data-goatcounter="https://reym.goatcounter.com/count"
    async
    src="//gc.zgo.at/count.js"
  ></script>
</div>

<style>
  a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
  }
  a:hover {
    text-decoration-line: underline;
  }
  a:link {
    color: var(--black);
  }
</style>
