<script>
  import Codeberg from '$lib/icons/Codeberg.svelte';
  // @ts-ignore
  import Projects from './projects.svx';
</script>

<h1>Hey!</h1>

<p>
  I'm Antoni Romański and I currently study computer science in Germany and have many different
  interests like painting and doing 3D with blender.
</p>

<p>
  You can find me on
  <a href="https://mastodon.social/@reym"
    >mastodon <img
      style="position: relative; width: 1rem; transform: translateY(13%);"
      src="icons/mastodon-simple-svgrepo-com.svg"
      alt="mastodon logo"
    /></a
  >
  and my code on
  <a href="https://codeberg.org/reym">codeberg <Codeberg href="https://codeberg.org/reym" /></a>.
</p>

<h2>Current Interests</h2>
<p>Currently I'm exploring nix/NixOS and rust.</p>

<h2>Projects</h2>
<Projects />
