<script>
  export let href = '';
</script>

<a {href}>
  <img src="icons/codeberg-logo_icon_blue.svg" alt="codeberg logo" />
</a>

<style>
  img {
    position: relative;
    transform: translateY(18%);
    color: inherit;
    /*width: 1rem;
    height: 1rem;*/
  }
</style>
