<footer>
  <p>
    The kickflip animation is by the amazing <a
      href="https://www.instagram.com/viktoriya.kandybka.animations/">viktoriya.kandybka</a
    >.
  </p>
</footer>

<style>
  :global(footer) {
    grid-area: footer;
    padding: 0rem 2rem;
    font-family: Inter, Noto Sans, 'Helvetica Neue', Roboto, system-ui, -apple-system,
      BlinkMacSystemFont, 'Open Sans', sans-serif;
    color: grey;
  }
</style>
