<!-- A thin wraper around the img tag so I can just swap out functionality later. -->
<script lang="ts">
  export let src: string;

  /**
    Alt text.
  */
  export let alt: string;

  /**
    Description of the image to be displayed when viewing the image or by an image gallery.
  */
  export let description: string | undefined = src.match(/([^\/]*)\/*$/)?.at(0); // gets the end of the source url

  // if(typeof description !== "null") {
  //     description = src.match(/([^\/]*)\/*$/)
  // }
  // console.log(description);
</script>

<a href={src}><img {src} {alt} /></a>
