<div class="kickflip-wrapper" />

<style>
  .kickflip-wrapper {
    background: url('animations/kickflip_still.png') no-repeat;
    background-size: cover;
    width: 4rem;
    height: 4rem;
  }
  .kickflip-wrapper:hover {
    background: url('animations/kickflip.png') no-repeat;
    background-size: cover;
  }
</style>
