<script lang="ts">
  import Image from '$lib/Image.svelte';
</script>

<h1>Projects</h1>

<p>These are some of my projects.</p>

<h2>Some of my paintings</h2>

<div class="gallery">
  <Image
    src="/images/paintings/Value_Study.webp"
    alt="black and white study of a man in a coat"
    description="Value Study"
  />
  <Image src="/images/paintings/skull_study.webp" alt="a painting of a skull" />
  <Image src="/images/paintings/critical.webp" alt="a painting of a skateboarder" />
</div>

<style>
  :global(img) {
    max-width: 100%;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    grid-gap: 1rem;
  }
</style>
